---
title: Blog
layout: 'base.njk'
---

       
<div class="section container">
<h1 class="section-title">Recent articles</h1>

<ul role="list" class="articles__list flow">

  {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
  {%- endfor %} 
 
</ul>

</div>

{# <li>
         <article class="snippet">
  <img src="/assets/blog/carbon-2021-06-11t092807.024.png" alt="a man on his computer" class="snippet__image">
  <h3 class="snippet__title"><a href="/blog/another-article/">Another article!!</a></h3>
  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Jun 15, 2021</span></p>
  <p class="snippet__body">This is a new article that I&#39;ll be posting</p> 
  <a href="/blog/another-article/" class="btn btn--primary">Continue Reading</a>
</article>
        </li> #}
